body{
    display: flex;
    margin: 0;
    padding: 0;
    
    flex-direction: column;
}
.header{
    background-color: #1F2937;
    display: flex;
    flex: 1;
    padding: 8px 120px;
}
 .logo{
    font-size: 24px;
    color: #F9FAF8;
 }
.main_text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.quote{
    display: flex;
    justify-content: center;
    flex-direction: column;
   

}
img{
    height: auto;
    width: 150px;
    
}
.pic{
    max-width: 200px;
}
.title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
  
    padding: 32px;
    gap: 52px;
}
.Motivational{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 32px;
    flex-direction: column;

}
.Thor{
    font-size: 36px;
    font-style: light italic;
    
}
.Sign_by{
    margin-left: auto;
}
.sign_up{
    display: flex;
    margin: 40px 120px;
    padding: 20px 60px;
    background-color: #3882f6;
    font-size: 36px;
    color: whitesmoke;
    
}
.text_left{
    display: flex;
    flex-direction: column;
    padding: 0;
    
}
.bt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
button{
    
    background-color: #3882f6;
    color: whitesmoke;
    border-color: white;
    padding-left: 15px;
    padding-right: 15px;
}
p{
    margin: 0;
}